.node rect {
     border-radius: 10px;
     border: 4px double;
 }

.node text {
    font-family: Helvetica, Arial, Sans-Serif;
    color: red;
    font-size: small;
    font-weight: bold;
}

.link {
    fill: none;
    stroke: black;
    stroke-width: 2px;
}

.concept {
    border: 1px solid;
    background-color: #99CCFF;
}

.defined-concept {
    border: 4px double;
    background-color: #CCCCFF;
}

.attribute {
    border-radius: 10px;
    border: 4px double;
    background-color: #FFFFCC;
}
