.d3diagram, .d3, .conceptDiagram, #svgDiagram {
    width: 100%;
    height: 100%;
    position:absolute;
}

#scrollable{
    width: 100%;
    height: 100%;
}

.hiddenDiagram {
    visibility: hidden;
    position:absolute;
}

