.navLink {
    padding-right: 25px;
}

.navArrow {
    font-size: 1.4em;
}

.backArrow {
    position: absolute;
    font-size: 2em;
    top: 28%;
    left: 8px;
}

.navigation-header {
    border-radius: 0px !important;
    margin-bottom: 3px;
    padding: 10px 15px !important;
}

.nav-pills > li > a {
    padding: 5px 15px;
}

.parentHeader {
    font-size: 1.2em;
    margin-left: 28px; 
}

.grandparentHeader {
    font-size: 0.8em;
    margin-left: 28px;
}

.linkPointer:hover {
    cursor: pointer;
    color: #f0ad4e;
}
/*
baby blue: #c9ddff
bootstrap yellow: f0ad4e

*/
