.navLink {
    padding-right: 25px;
}

.navArrow {
    font-size: 1.4em;
}

.backArrow {
    position: absolute;
    font-size: 1.3em;
    top: 35%;
    left: 2%;
}

.navigation-header {
    border-radius: 0px !important;
    margin-bottom: 3px;
    padding: 10px 15px !important;
}

.nav-pills > li > a {
    padding: 5px 15px;
}

.parentHeader {
    font-size: 1.1em;
    margin-left: 17px; 
}

.grandparentHeader {
    font-size: 0.8em;
    margin-left: 17px;
}
