/* Save diagram */

.saveDiagramWrapper {
    display: inline-table;;
}

.saveDiagramPanel {
    width: 350px;
    position: absolute;
}

.diagramDesc {
    resize: vertical;
}

.saveDiagramSubmitWrapper {
    padding-left: 0px;
}

.statusMessage {
    margin-top: 7px;
}
