.search-results {
    display: block;
    background-color: white;
    z-index: 99;
    position: absolute;
    width: 250px;
}

.search input {
    width: 250px;
    line-height: 20px;
    height: 40px;
    padding: 5px;
    margin: 5px 10px;
    overflow: hidden;

}
